@import "css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Roboto";
body {
	padding-top: 0;
	background-image: url(img/bg.gif);
	background-attachment: fixed;
	background-size: 100%;
	font-family: 'Roboto', sans-serif;
}

h1 {font-size: 1.6em;}

h2 {
	font-size: 1.2em;
}
.products_new_list p {padding:0px; margin:0px;}

.products_new_list h2 {height: 30px; margin-top:10px; padding-top:0px; font-size:14px; overflow:hidden;}
.products_new_list img {height: 80px; width:auto;}
.products_new_list_price {font-weight: bold;}

.imgresponsive {width:100%; height: auto; display: block; margin:0px; padding:0px;}

.pull-right .btn.btn-default.btn-success {margin-top:20px;}

.categoryheader a {text-decoration: underline;}

.review_listing {display: block;}

.review_p_info {margin-top:-1%; margin-bottom:2%;}

.morepics a.thickbox {padding:10px; display: inline-block;}

.single_review {margin-bottom:20px; padding-bottom:20px; border-bottom:1px solid #eee;}
.single_review a {text-decoration:underline;}
.strong {font-weight: bold;}

#Kommunikation a {
	text-decoration: underline;
}

tr.topNside_border td{
	border-top:2px solid black !important;
	border-left:2px solid black !important;
	border-right:2px solid black !important;
}

tr.top_border td{
	border-top:2px solid black !important;
}

tr.side_border>td:first-child{
	border-left:2px solid black;
}

tr.side_border>td:last-child{
	border-right:2px solid black;
}

.profile_price {
	text-align: center;
}

.productinfoproductadded {
	display: none;
}

.cate_desc_top,
.cate_desc_bottom {
	overflow: hidden;
	clear: both;
}

.cate_desc_top h2,
.cate_desc_bottom h2 {
	padding: 10px 0 5px 0;
	margin: 0px;
	font-size: inherit;
	font-weight: bold;
}

.cate_desc_top {
	margin-bottom: 20px;
}

.cate_desc_top a {text-decoration: underline;}

.cate_desc_bottom {
	padding-top: 30px;
}

#text_error {
	float: left;
	margin-top: 50px;
	font-size: 16px;
}

#david_error {
	float: right;
	height: 250px;
	margin-top: -30px;
}

.catid_579 .navigation {
	display: none !important;
}

#modal3 .modal-content {
	padding: 40px;
}

.bggrey {
	background-color: #eee;
	padding: 15px;
}

@media only screen and (min-width: 768px) {
	#my-tabs {
		overflow: hidden;
		width: 80%;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	#my-tabs li {
		float: left;
		margin: 0 .5em 0 0;
	}
	#my-tabs a {
		position: relative;
		background: #ddd;
		background-image: linear-gradient(to bottom, #fff, #ddd);
		padding: .7em 1.5em;
		float: left;
		text-decoration: none;
		color: #989898;
		text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
		border-radius: 5px 0 0 0;
		box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
	}
	#my-tabs a:hover,
	#my-tabs a:hover::after,
	#my-tabs a:focus,
	#my-tabs a:focus::after {
		background: #f5f5f5;
	}
	#my-tabs a:focus {
		outline: 0;
	}
	#my-tabs a::after {
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		right: -.5em;
		bottom: 0;
		width: 1em;
		background: #f5f5f5;
		background-image: linear-gradient(to bottom, #fff, #ddd);
		box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
		transform: skew(10deg);
		border-radius: 0 5px 0 0;
	}
	#my-tabs #current a,
	#my-tabs #current a::after {
		background: #f5f5f5;
		color: black;
		font-weight: bold;
		z-index: 3;
	}
}

#my-tabs-content {
	background: #f5f5f5;
	padding: 2em;
	font-size: 20px;
	/* height: 220px; */
	position: relative;
	z-index: 2;
	border-radius: 0 5px 5px 5px;
	box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
}

@media only screen and (min-width: 768px) {
	.tabs-container{
		/*width: 800px;*/
		margin: 0 auto;
	}

	ul.tabs-container{
		margin: 0px;
		padding: 0px;
		list-style: none;
	}

	ul.tabs-container li{
		background: none;
		color: #222;
		display: inline-block;
		cursor: pointer;
	}

	ul.piTa-my-tabs{
		margin: 0px;
		padding: 0px;
		list-style: none;
		display:inline-block;
	}



	.tabs-title{
		position:relative;
		padding: .7em 1.5em;
		text-decoration: none;
		color: black;
		text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
		border-radius: 5px 0 0 0;
		box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
		overflow:hidden;
	}

	.special_conditions{
		background-color: red;
		background-image: linear-gradient(to bottom, #ddd, #FF7F7F);
	}


	.best_buy{
		background-color: green;
		background-image: linear-gradient(to bottom, #ddd, #7FBF7F);
	}

	.fath{
		background-color: blue;
		background-image: linear-gradient(to bottom, #ddd, lightblue);
	}
	.devil_design{
		background-color: blue;
		background-image: linear-gradient(to bottom, #ddd, lightblue);
	}
	.alcia-3dp{
		background-color: blue;
		background-image: linear-gradient(to bottom, #ddd, lightblue);
	}

	.piTa-my-tabs a, .tabs-container a {
		position: relative;
		min-width: 150px;
		background: #ddd;
		background-image: linear-gradient(to bottom, #fff, #ddd);
		padding: .7em 1.5em;
		float: left;
		text-decoration: none;
		color: #989898;
		text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
		border-radius: 5px 0 0 0;
		box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
	}


	.piTa-my-tabs a:hover, , .tabs-container a:hover,
						.piTa-my-tabs a:hover::after, .tabs-container a:hover::after,
						.piTa-my-tabs a:focus, .tabs-container a:focus,
						.piTa-my-tabs a:focus::after, .tabs-container a:focus::after {
							background: #f5f5f5;
						}
	.mpiTa-y-tabs a:focus, .tabs-container a:focus {
		outline: 0;
	}
	.piTa-my-tabs a::after, .tabs-container a::after {
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		right: -.5em;
		bottom: 0;
		width: 1em;
		background: #f5f5f5;
		background-image: linear-gradient(to bottom, #fff, #ddd);
		box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
		transform: skew(10deg);
		border-radius: 0 5px 0 0;
	}
	.piTa-my-tabs #current a,
	.piTa-my-tabs #current a::after {
		background: #f5f5f5;
		color: black;
		font-weight: bold;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
		z-index: 3;
	}
}

#piTa-my-tabs-content {
	margin-top: -8px;
	background: #f5f5f5;
	padding: 2em;
	font-size: 20px;
	/* height: 220px; */
	position: relative;
	z-index: 9;
	border-radius: 0 5px 5px 5px;
}

#bar2length {
	width: 100%;
	margin-bottom: 20px;
	height: 54px;
	display: block;
	line-height: 54px;
}

.piece {
	display: inline-block;
	height: 50px;
	text-align: center;
	background: #A9A9F5;
}

.standard-select {
	display: inline-block;
	height: 50px;
	text-align: center;
	background: #A9A9F5;
	cursor: pointer;
	padding:5px;
	margin-left:20px;
	vertical-align: middle;
	white-space:nowrap;
	min-width:80px;
}

.piece:nth-child(odd) {
	background: #A9A9F5;
}

.piece:nth-child(3n+3) {
	background: #A9A9F5;
}

.rest {
	display: inline-block;
	height: 50px;
	text-align: center;
}

.cut {
	display: inline-block;
	height: 50px;
	width: 3px;
	background-color: red;
	height: 100px;
	position: relative;
	bottom: 25px;
}

.container {
	background: #fff;
	max-width: 1400px;
	width: auto;
}

#add-length-div {
	margin-bottom: 10px;
}

#cut-list-div {
	margin-bottom: 20px;
	margin-top: 50px;
	padding-bottom: 5px;
	border-bottom: 2px solid black;
}

#standard-length-div {
	margin-bottom: 10px;
}

.standard-select {
	margin-bottom: 15px;
}

.bar-quantity {
	display: inline-block;
}

.bar-length {
	display: inline-block;
}

.maxLength-bar {
	display: inline-block;
	font-size: 14px;
}

.big-input {
	border: 0px;
	width: 0.8em;
	height: 0.8em;
	margin-right: 10px !important;
}

#machining-title {
	cursor: pointer;
}

#machining {
	background-color: #e6e6e6;
	padding: 15px;
	margin-top: 30px;
	display: inline-block;
}

.mytable {
	display: table;
}

#machTable {
	display: none;
	table-layout: fixed;
}

.tableRow {
	display: table-row;
}

.tableCell {
	display: table-cell;
	padding: 10px;
}

.mHead {
	border-bottom: 2px solid #a6a6a6;
	margin-top: 10px;
}

.mHead:first-child {
	border-right: 2px solid #a6a6a6;
}

.mBody:first-child {
	border-right: 2px solid #a6a6a6;
}

.login-warning {
	font-weight: bold;
	color: red;
	border: 2px solid red;
	margin: 5px;
	text-align: center;
}

.table-attr tr td {
	padding-bottom: 20px;
	padding-left: 10px;
}

.length {
	width: 100px;
	margin-bottom: 10px;
	padding: 4px;
}

#addLength2 {
	width: 100px;
	padding: 4px;
}

#pieceLength {
	width: 100px;
	padding: 4px;
}

#restBar {
	width: 100px;
	padding: 4px;
}

#addQty {
	width: 50px;
	padding: 4px;
}

.red-border {
	border: 1px solid red;
	outline: none;
}

.qty_cut {
	width: 50px;
	padding: 4px;
}

.bar-select {
	font-size: 20px;
	margin-left: 10px;
}

.attr-na {
	color: red;
}

.navbar {
	border-radius: 0px;
}

.descr {
	position: absolute;
	left: 0;
	top: 75%;
	width: 100%;
	text-align: center;
	font-size: 3em;
	color: #000;
}

.descr_whole_image_text {
	width: 100%;
	position: absolute;
	left: 0;
	top: 10%;
	text-align: center;
	font-size: 3em;
	color: #000;
}

#more_orders {
	display: none;
}

.transfer {
	margin-bottom: 10px;
}

div.transfer {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

img.transfer {
	height: 70px;
	width: 64px;
	margin-right: 4px;
	vertical-align: middle;
}

#transfer_font_1 {
	color: #000;
	font-size: 22px;
	font-weight: 700;
}

#transfer_font_2 {
	color: #2f5597;
	font-size: 22px;
	font-weight: 700;
}

#datTable {
	display: flex;
	flex-flow: column;
}

#datTable tbody {
	flex: 1 1 auto;
	display: block;
	overflow-y: scroll;
	height: 600px;
}

#datTable thead {
	flex: 0 0 auto;
	width: calc(100% - 0.9em);
}

#datTable tbody tr {
	width: 100%;
}

#datTable thead,
#datTable tbody tr {
	display: table;
	table-layout: fixed;
}

.table_inner {
	text-align: center;
}

.table_inner .row {
	margin: 0 !important;
	text-align: center;
}

#navz {
	position: relative;
	padding-bottom: 25px;
}

ul#navigation {
	position: relative;
	float: left;
	border-right: 1px solid #c4dbe7;
	width: 100%;
	padding: 0;
	margin: 0;
}

ul#navigation li {
	display: table-cell;
	font-weight: 700;
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	border-top: 1px solid #ccc;
	border-bottom: 2px solid #ccc;
	width: 33.3%;
}

ul#navigation li a {
	padding: 10px;
	text-shadow: 1px 1px 0 #fff;
	text-decoration: none;
	display: block;
	border-right: 1px solid #fff;
	border-left: 1px solid #C2C2C2;
	border-top: 1px solid #fff;
	background: #f5f5f5;
	text-align: center;
	display: block;
	width: 100%;
	-webkit-transition: color .2s linear, background .2s linear;
	-moz-transition: color .2s linear, background .2s linear;
	-o-transition: color .2s linear, background .2s linear;
	transition: color .2s linear, background .2s linear;
}

ul#navigation li a:hover {
	background: #f8f8f8;
	color: #282828;
}

ul#navigation li:hover>a {
	background: #fff;
	display: block;
}

/* Drop-Down Navigation */

ul#navigation li:hover>ul {
	visibility: visible;
	opacity: 1;
}

ul#navigation ul,
ul#navigation ul li ul {
	list-style: none;
	margin: 0;
	padding: 0;
	visibility: hidden;
	position: absolute;
	z-index: 99999;
	width: 100%;
	background: #f8f8f8;
	box-shadow: 1px 1px 3px #ccc;
	opacity: 0;
	-webkit-transition: opacity .2s linear, visibility .2s linear;
	-moz-transition: opacity .2s linear, visibility .2s linear;
	-o-transition: opacity .2s linear, visibility .2s linear;
	transition: opacity .2s linear, visibility .2s linear;
}

ul#navigation ul {
	top: 43px;
	left: 1px;
}

ul#navigation ul li ul {
	top: 0;
	left: 181px;
}

ul#navigation ul li {
	clear: both;
	width: 100%;
	border: 0 none;
	border-bottom: 1px solid #c9c9c9;
}

ul#navigation ul li a {
	background: none;
	padding: 15px;
	color: #616161;
	text-shadow: 1px 1px 0 #fff;
	text-decoration: none;
	display: inline-block;
	border: 0 none;
	float: left;
	clear: both;
	display: block;
}

.account_history_info .panel-default>.panel-heading {
	overflow: hidden;
}

.account_history_info .panel-default>.panel-heading h3 {
	padding: 0;
	margin: 0;
}

#navz2 {
	position: relative;
}

ul#navigation2 {
	padding: 0;
	margin: 0;
	position: relative;
}

ul#navigation2 h3 {
	padding: 0;
	margin: 0;
	font-size: 16px;
}

ul#navigation2 li {
	display: inline-block;
	font-weight: 700;
	margin: 0;
	padding: 0;
	position: relative;
}

ul#navigation2 li a {
	text-decoration: none;
	display: block;
	-webkit-transition: color .2s linear, background .2s linear;
	-moz-transition: color .2s linear, background .2s linear;
	-o-transition: color .2s linear, background .2s linear;
	transition: color .2s linear, background .2s linear;
	width: 100%;
}

ul#navigation2 li:hover>a {
	background: #fff;
}

/* Drop-Down Navigation */

nav#navz2:hover>ul#order_view {
	visibility: visible;
	opacity: 1;
}

ul#order_view {
	list-style: none;
	margin: 0;
	padding: 0;
	visibility: hidden;
	position: absolute;
	z-index: 99999;
	background: #f8f8f8;
	box-shadow: 1px 1px 3px #ccc;
	opacity: 0;
	-webkit-transition: opacity .2s linear, visibility .2s linear;
	-moz-transition: opacity .2s linear, visibility .2s linear;
	-o-transition: opacity .2s linear, visibility .2s linear;
	transition: opacity .2s linear, visibility .2s linear;
}

ul#order_view {
	top: 23px;
	left: 1px;
}

ul#order_view li {
	width: 25%;
	border: 0 none;
	border-bottom: 1px solid #c9c9c9;
	display: inline-block;
	float: left;
	border-left: 1px solid #c9c9c9;
}

ul#order_view a {
	background: none;
	padding: 7px 15px;
	color: #616161;
	text-shadow: 1px 1px 0 #fff;
	text-decoration: none;
	display: inline-block;
	border: 0 none;
	float: left;
	clear: both;
}

ul#navigation2 li:hover>ul {
	visibility: visible;
	opacity: 1;
}

ul#navigation2 ul,
ul#navigation2 ul li ul {
	list-style: none;
	margin: 0;
	padding: 0;
	visibility: hidden;
	position: absolute;
	z-index: 99999;
	max-width: 600px;
	background: #f8f8f8;
	box-shadow: 1px 1px 3px #ccc;
	opacity: 0;
	-webkit-transition: opacity .2s linear, visibility .2s linear;
	-moz-transition: opacity .2s linear, visibility .2s linear;
	-o-transition: opacity .2s linear, visibility .2s linear;
	transition: opacity .2s linear, visibility .2s linear;
}

ul#navigation2 ul {
	top: 23px;
	left: 1px;
}

ul#navigation2 ul li ul {
	top: 0;
	left: 181px;
}

ul#navigation2 ul li {
	border: 0 none;
	border-bottom: 1px solid #c9c9c9;
	display: inline-block;
	float: left;
}

ul#navigation2 ul li a {
	background: none;
	padding: 7px 15px;
	color: #616161;
	text-shadow: 1px 1px 0 #fff;
	text-decoration: none;
	display: block;
	border: 0 none;
	float: left;
	clear: both;
}

.buttonbb {
	margin-bottom: 20px;
}

.buttonbb_hinge {
	margin-top: 60x !important;
}

html .btn-reset {
	background: rgba(153, 153, 153, 0.5) !important;
	color: #111 !important;
}

html .btn-add {
	background: green !important;
}

span.onstock {
	background: #dff0d8;
	display: inline-block;
	color: green;
	padding: 10px;
}

@media only screen and (max-width: 768px) {
	#products-info {
		margin-top: 50px;
	}
	html #my-tabs {
		width: 100%;
		padding: 0px;
		margin: 0px;
	}
	html #my-tabs li {
		display: block;
		float: none;
		background: none;
	}
	html #my-tabs li a {
		text-shadow: none;
		float: none;
		display: block;
		background: #eee;
		border-radius: 0px;
		padding: 1.2em;
		box-shadow: none;
		border: 1px solid #ccc;
		color: #555;
		font-size: 1.2em;
	}
	html #my-tabs #current a,
	#my-tabs #current a::after {
		background: #ccc;
		font-weight: bold;
	}
	html .lang-index img {
		max-width: 44px !important;
		height: auto;
	}
	ul.lang-index {
		padding: 20px;
	}
	ul.lang-index li {
		display: inline-block;
	}
	.descr {
		font-size: 1.6em;
		top: 77%;
	}
	body {
		padding: 0;
	}
	.print-button {
		display: none;
	}
	.plist-img img {
		max-width: 70% !important;
		height: auto;
	}
	.boxmargin_65 {
		height: 200px !important;
	}
	.pull-right a {
		margin: 10px;
		display: block;
	}
	.pull-right button {
		margin: 0 0 0 3px;
	}
	.navbar-header {
		float: none;
		border-bottom: 0 solid #eee;
		padding: 0;
		margin: 0;
	}
	.test {
		position: fixed;
		width: 100%;
		z-index: 5000;
		left: 0;
		top: 0;
		background: #fb8f2e;
		border: #fff;
	}
	table.table_inner .col-xs-12 {
		padding: 0 !important;
		margin: 0 !important;
	}
	#datTable td {
		padding: 0 !important;
	}
	.table_img {
		max-width: 100%;
		height: auto;
		margin: 0 auto 10px;
	}
}

@media only screen and (min-width: 768px) {
	.navbar-header {
		float: none;
		padding-bottom: 20px;
		padding-top: 30px;
		margin-bottom: 10px;
	}
	.table_img {
		/*width:80px;*/
		height: 80px;
		margin: 0 auto 10px;
	}
}

a:hover {
	color: #333;
}

.container.top {
	background: transparent;
	max-width: 1400px;
	width: auto;
}

.container.header {
	background: #eee;
	background: -moz-linear-gradient(top, #eee 0%, #fff 30%);
	background: -webkit-linear-gradient(top, #eee 0%, #fff 30%);
	background: linear-gradient(to bottom, #eee 0%, #fff 30%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
	border-top: 1px solid #fff;
}

.navbar-default {
	background: #fb8f2e;
	border: #fff;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}

.navbar-default .navbar-nav>.active>a {
	color: #fff;
	background: #333;
}

.navbar-toggle {
	border: 0;
	padding: 0;
	margin: 0;
	border-radius: 0;
}

.navbar-default .navbar-toggle,
	{
	color: #000;
	border-radius: 0;
	border-color: #000;
}

.navbar-toggle .icon-bar {
	color: #000;
	border-radius: 0;
	border-color: #000;
	background-color: #000;
	font-size: 20px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #000;
}

.form-control,
.alert {
	border-radius: 0;
}

.btn.btn-default {
	background: #555;
	color: #fff;
	border: 0;
	border-radius: 0;
}

.btn.btn-default:hover {
	opacity: .8;
}

.navigation {
	background: #eee;
	padding: 1%;
	overflow: hidden;
	clear: both;
	margin: 2% 0;
	font-size: .9em;
}

.desc_bot {
	overflow: hidden;
	clear: both;
	margin: 2% 0;
}

a {
	color: #333;
}

.cat_img img {
	max-width: 40px !important;
	height: auto !important;
	margin-right: 10px;
}

footer .text-center {
	color: #eee;
}

.footer .contentlist {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.footer .contentlist a {
	padding: 5px 0;
	display: block;
}

.footer .contentlist span {
	padding: 5px 0;
	display: block;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background: transparent;
}

.navbar-default .navbar-toggle {
	margin-left: 15px;
}

.topnav-cart,
.topnav-account {
	margin-top: 10px;
	margin-left: 20px;
}

.topnav-cart .fa,
.topnav-account .fa {
	font-size: 1.7em;
}

.mobile_nav {
	position: absolute;
	right: 10px;
	top: 22px;
}

.mobile_nav a {
	display: inline-block;
	font-size: 1.6em;
	cursor: pointer;
	margin: 0 12px;
}

.mobile_nav .fa-bars {
	font-size: 1.8em;
	margin-left: 5px;
}

.top_search {
	border-radius: 0;
	background: #eee;
	border: 0;
}

.form-control {
	border-radius: 0;
	background: #eee;
	border: 0;
	width: 100%;
	min-width: 100%;
}

.top_search .btn.btn-default {
	position: absolute;
	right: 0px;
}

.top_search .form-group {
	width: 100%;
}

.top_search button {
	position: absolute;
	right: 15px;
	top: 0;
}

.top_search {
	margin-top: 30px;
	padding-left: 0px;
	padding-right: 0px;
}

.popupproductinfo,
.popupprintorder {
	padding-top: 0;
}

.print-button {}

.navbar-brand {
	height: auto;
	font-size: 18px;
	line-height: 20px;
}

.navbar-nav>li>a {
	font-size: 13px;
}

.top_cart {
	text-align: right;
}

.gramm_inline {
	padding-bottom: 20px;
}

#wInfo {
	clear: both;
	overflow: hidden;
}

.mobile_categories .panel-default,
.mobile_categories .panel-heading,
.mobile_categories {
	width: 100% !important;
	overflow: hidden !important;
	clear: both !important;
}

.mobile_categories.navbar-collapse.collapse {
	width: 100%;
	clear: both;
	padding: 0;
	margin: 0;
}

/*.btn-minus{cursor:pointer;display:inline-block;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-right:0px; width:60px;}
.btn-plus{cursor:pointer;display:inline-block;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-left:0px;width:60px;}
div.section > div > input {margin:0px;padding-left:5px;font-size:10px;padding-right:5px;max-width:18%;text-align:center; display: inline-block;}
*/

#collapseOne .panel-body a{
	color:blue;
	text-decoration:underline;
}

.btn,
.panel-heading,
.breadcrumb,
.panel,
.well,
.panel-body,
.panel-group .panel {
	border-radius: 0;
}

.products_cart .btn-minus,
.products_cart .btn-plus {
	display: table-cell;
	font-size: 19px;
	width: 60px;
	background-color: #999;
	border-color: #ccc;
	position: relative;
	white-space: nowrap;
	vertical-align: middle;
	border-radius: 0;
	text-transform: uppercase;
}

#productinfowrap .button-container .btn {
	background: green !important;
}

.red,
.btn-no-success {
	width: 100%;
	padding: 10px 16px;
	font-size: 19px;
	background: #af504c !important;
	color: #fff;
	border: 0;
	border-radius: 0;
}

.red:hover,
.btn-no-success:hover {
	opacity: .8;
	background: #af504c;
	color: #fff;
}

.products_cart .form-control {
	display: table-cell;
	height: 48px;
	padding: 10px 16px;
	font-size: 19px;
	line-height: 1.33333;
	border-radius: 0;
	text-align: center;
	border-right: 0;
	border-left: 0;
	width: 100%;
}

.products_cart {
	position: relative;
	display: table;
	border-collapse: separate;
	width: 100%;
}

#productinfowrap .button-container {
	position: relative;
	float: left;
	width: 100%;
	min-height: 1px;
	padding-top: 10px;
}

#productinfowrap .button-container .btn {
	width: 100%;
	padding: 10px 16px;
	font-size: 19px;
}

.nav-list>li>ul {
	padding-left: 0;
	padding-right: 0;
}

.nav-list ul>li>a {
	padding-left: 20px;
}

.nav-list ul>li ul>li>a {
	padding-left: 35px;
}

.nav-list ul>li ul>li ul>li>a {
	padding-left: 50px;
}

.nav-list li.level1.active>a,
.nav-list li.level2.active>a {
	background: #fb8f2e !important;
}

.nav-list li.level2 a {
	background: #f6f6f6 !important;
}

.nav-list .active ul {
	padding-left: 0px !important;
}

.nav-list a {
	border-bottom: 1px solid #eee;
	padding: 0;
	margin: 0;
}

#cart-container.navbar-cart {
	display: none;
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	-webkit-transition: 300ms ease all;
	-o-transition: 300ms ease all;
	transition: 300ms ease all;
	height: 60px;
	margin: 10px 0;
	padding: 0;
}

@media (min-width:768px) {
	#cart-container.navbar-cart {
		display: block;
		padding-top: 20px;
	}
}

@media (min-width:992px) {
	#cart-container.navbar-cart {}
}

@media (min-width:1200px) {
	#cart-container.navbar-cart {}
}

#cart-container.navbar-cart>ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#cart-container.navbar-cart>ul>li {
	padding: 0;
}

#cart-container.navbar-cart>ul>li>a.dropdown-toggle {
	-webkit-transition: 300ms ease all;
	-o-transition: 300ms ease all;
	transition: 300ms ease all;
	position: relative;
	display: block;
}

#cart-container.navbar-cart>ul>li>a.dropdown-toggle .cart {
	color: #333;
	display: block;
	float: right;
	line-height: 15px;
	margin-top: 4px;
}

#cart-container.navbar-cart>ul>li>a.dropdown-toggle .products {
	display: block;
	float: right;
	clear: right;
	font-size: 13px;
	font-weight: 700;
}

#cart-container.navbar-cart>ul>li>a.dropdown-toggle .gm-cart-basket {
	color: #333;
	font-size: 40px;
	position: absolute;
	right: 10px;
	top: inherit;
	margin-top: -11px;
}

#cart-container.navbar-cart>ul>li.open>a.dropdown-toggle {
	color: #fb8c2c;
}

#cart-container.navbar-cart>ul>li>ul.dropdown-menu {
	width: 300px;
	right: 0;
	left: auto;
	z-index: 1001;
	padding: 0;
}

#cart-container.navbar-cart>ul>li>ul.dropdown-menu .dropdown-header {
	margin-top: 5px;
	padding: 15px;
	font-size: 18px;
	color: #333;
}

#cart-container.navbar-cart>ul>li>ul.dropdown-menu .dropdown-footer {
	padding: 15px;
	margin-bottom: -5px;
	color: #333;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background-color: #eee;
}

#cart-container.navbar-cart>ul>li>ul.dropdown-menu.arrow-top {
	margin-right: 0;
	margin-top: 0;
}

#cart-container.navbar-cart>ul>li>ul.dropdown-menu.cart-empty>.cart-dropdown-inside {
	padding: 30px;
	text-align: center;
}

#cart-container.navbar-cart>ul>li>ul.dropdown-menu>.cart-dropdown-inside {
	font-size: 13px;
}

#cart-container.navbar-cart>ul>li>ul.dropdown-menu>.cart-dropdown-inside ul.products-list {
	margin: 0;
	padding: 0;
	list-style: none;
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
	border-top: 1px solid #eee;
}

ul.dropdown-menu li>a,
ul.dropdown-menu li span {
	color: #333;
	display: block;
	padding: 5px 15px;
}

#cart-container.navbar-cart>ul>li>ul.dropdown-menu>.cart-dropdown-inside ul.products-list>li {
	padding: 0;
}

#cart-container.navbar-cart>ul>li>ul.dropdown-menu>.cart-dropdown-inside ul.products-list>li {
	display: block;
	margin: 0;
	border-top: 1px solid #eee;
}

#cart-container.navbar-cart>ul>li>ul.dropdown-menu>.cart-dropdown-inside ul.products-list>li:before,
#cart-container.navbar-cart>ul>li>ul.dropdown-menu>.cart-dropdown-inside ul.products-list>li:after {
	content: " ";
	display: table;
}

#cart-container.navbar-cart>ul>li>ul.dropdown-menu>.cart-dropdown-inside ul.products-list>li:after {
	clear: both;
}

#cart-container.navbar-cart>ul>li>ul.dropdown-menu>.cart-dropdown-inside ul.products-list>li:first-of-type {
	border-top: none;
}

#cart-container.navbar-cart>ul>li>ul.dropdown-menu>.cart-dropdown-inside ul.products-list>li>a {
	display: block;
	padding: 5px 0;
	color: #333;
}

#cart-container.navbar-cart>ul>li>ul.dropdown-menu>.cart-dropdown-inside ul.products-list>li>a:before,
#cart-container.navbar-cart>ul>li>ul.dropdown-menu>.cart-dropdown-inside ul.products-list>li>a:after {
	content: " ";
	display: table;
}

#cart-container.navbar-cart>ul>li>ul.dropdown-menu>.cart-dropdown-inside ul.products-list>li>a:after {
	clear: both;
}

#cart-container.navbar-cart>ul>li>ul.dropdown-menu>.cart-dropdown-inside ul.products-list>li>a .products-vpe {
	color: #999;
	display: inline;
	font-size: 11px;
	padding: 0;
}

#cart-container.navbar-cart>ul>li>ul.dropdown-menu>.cart-dropdown-inside ul.products-list>li>a .price {
	font-weight: 700;
	text-align: right;
}

#cart-container.navbar-cart>ul>li>ul.dropdown-menu>.cart-dropdown-inside .total {
	font-weight: 700;
}

#cart-container.navbar-cart>ul>li>ul.dropdown-menu>.cart-dropdown-inside .total:before,
#cart-container.navbar-cart>ul>li>ul.dropdown-menu>.cart-dropdown-inside .total:after {
	content: " ";
	display: table;
}

#cart-container.navbar-cart>ul>li>ul.dropdown-menu>.cart-dropdown-inside .total:after {
	clear: both;
}

#cart-container.navbar-cart>ul>li>ul.dropdown-menu>.cart-dropdown-inside .total .col-xs-8 {
	text-align: right;
	font-size: 20px;
}

#cart-container.navbar-cart>ul>li>ul.dropdown-menu>.cart-dropdown-inside .total .col-xs-4 {
	padding-top: 13px;
	padding-left: 30px;
	text-transform: uppercase;
}

#cart-container.navbar-cart>ul>li>ul.dropdown-menu>.cart-dropdown-inside .tax {
	font-size: 11px;
	color: #999;
	padding-bottom: 15px;
	text-align: right;
}

#cart-container.navbar-cart>ul>li>ul.dropdown-menu>.cart-dropdown-inside .tax>a>span {
	display: inline;
	padding: 0;
}

.navbar-toogle.cart-icon {
	color: #333;
}

#cart-container.navbar-cart .fa-shopping-cart {
	font-size: 2em;
}

.cart-products-count {
	background-color: #fb8c2c;
	height: 20px;
	width: 20px;
	padding: 1px;
	text-decoration: none;
	display: block;
	color: #fff;
	font-weight: 700;
	font-size: 11px;
	position: absolute;
	left: auto;
	border: 2px solid #fff;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	right: -20px;
	top: -20px;
}

@media (min-width:768px) {
	.cart-products-count {
		right: 15px;
		top: 18px;
	}
	#header.sticky .navbar-cart {
		margin: 0;
	}
	#header.sticky .navbar-cart .dropdown-toggle {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#header.sticky .navbar-cart .dropdown-toggle .cart {
		color: #333;
	}
	#header.sticky .navbar-cart .dropdown-toggle .gm-cart-basket {
		color: #333;
	}
}

ul.dropdown-menu.arrow-top {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	width: 300px;
}

ul.dropdown-menu.arrow-top>.arrow,
ul.dropdown-menu.arrow-top>.arrow:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

ul.dropdown-menu.arrow-top>.arrow {
	display: none;
	border-width: 11px;
	right: 30px;
	margin-left: -11px;
	border-top-width: 0;
	border-bottom-color: #999;
	border-bottom-color: #fff;
	top: -11px;
}

ul.dropdown-menu.arrow-top>.arrow:after {
	content: " ";
	top: 1px;
	margin-left: -10px;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-width: 10px;
	content: "";
}

.boxheader,
.categoryheader,
.boxcartheader {
	display: block;
	font-size: 17px;
	font-weight: 700;
	line-height: 20px;
}

.boxcontent {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #E5E5E5;
}

.breadcrumb a {
	font-size: .9em;
}

.breadcrumb {
	font-size: .9em;
	background: #fff;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	color: #333;
}

.breadcrumb>.active {
	color: #333;
	font-size: .9em;
}

.pizu .cart_options {
	background: #eee;
	clear: both;
	padding: 20px;
}

.pizu .radio {
	padding-left: 15px;
}

.feedConfig {
	text-align: center;
}

.feedConfig label,
.gramm label,
.laenge label,
.laser label {
	display: block;
}

.laser label {
	padding-bottom: 10px;
	font-weight: 700;
}

.feedConfig label:nth-child(odd),
.gramm label:nth-child(odd) {
	background: #eee;
}

.feedConfig label,
.gramm label {
	padding: 8px;
}

body .stab_uni_tab {
	border-top: 1px solid #eee !important;
	width: 100%;
}

.stab_neu_hz {
	background: #eee;
	padding: 10px;
}

.stab_neu_hz_table td {
	padding: 10px;
	border-top: 1px solid #eee;
}

.table_layout td {
	text-align: center;
}

.test {
	display: block !important;
}

.step {
	background: #eee;
	font-size: 1em;
	color: #ccc;
	padding: 15px;
	font-weight: 700;
	margin-bottom: 8%;
}

.step.active {
	color: #3C763D;
}

.step p {
	font-weight: 400;
}

.step .caret {
	position: absolute;
	margin: 0;
	color: #eee;
	opacity: 1;
}

.step .caret.right {
	right: 1px;
	top: 0;
	border-top: 27px solid transparent;
	border-bottom: 28px solid transparent;
	border-left: 30px solid;
}

.step .caret.bottom {
	bottom: -15px;
	left: 35%;
	border-top: 15px solid;
	border-right: 50px solid transparent;
	border-left: 50px solid transparent;
}

body .standard-select {
	max-width: 100% !important;
}

.clear {
	clear: both;
	margin: 3% 0;
	overflow: hidden;
}

@media(max-width:991px) {
	.step {
		text-align: center;
		margin-top: 20px;
	}
	.step .caret.right {
		top: 20px;
		border-top: 40px solid transparent;
		border-bottom: 40px solid transparent;
	}
}

@media(max-width:767px) {
	.step {
		height: auto;
	}
}

@media(min-width:768px) {
	.step {
		margin-right: 20px;
	}
}

.checkout_padding {
	padding: 15px;
}

.panel-default>.panel-heading {
	font-weight: 700;
}

#addition {
	background: #eee;
	padding: 1%;
	margin: 1%;
}

#addition label {
	margin-right: 5%;
}

.cartdiv {
	text-align: right;
}

.cartdiv input {
	text-align: center;
	padding: 3px;
}

.green,
.btn-success {
	width: 100%;
	padding: 10px 16px;
	font-size: 19px;
	background: #4CAF50 !important;
	color: #fff;
	border: 0;
	border-radius: 0;
}

.green:hover,
.btn-success:hover {
	opacity: .8;
	background: #4CAF50;
	color: #fff;
}

.taxandshippinginfo,
.shippingtime {
	font-size: .9em;
	padding: 8px 0 8px 0;
	margin: 0;
}

.taxandshippinginfo a {
	text-decoration: underline;
}

#productinfoprice {
	margin-bottom: 3%;
}

.productprice {
	font-size: 1.2em;
}

#accordion2 {
	margin-bottom: 8%;
	margin-top: 8%;
}

#productinfowrap .accordion .page-title {display: block;}

.margin_bottom {
	margin-bottom: 8%;
}

p.popup_link {
	font-size: .7em;
}

.addtobasket {
	text-align: right;
}

.also_purchased h2 {
	font-size: 14px;
	max-height: 30px;
}

.also_purchased {
	border: 1px solid #fff;
}

.also_purchased:hover {
	border: 1px solid #ccc;
}

.margin20_0_20_0 {
	padding: 20px 0;
	margin: 20px 0;
}

.laenge .productoptions {
	background: #eee;
}

.pricefinder label {
	max-width: 100%;
	display: inline-block;
}

.p_info_options {
	width: 100%;
	background-color: #eee;
	padding: 10px;
	float: left;
}

.nav-tabs-container,
.accordion-group {
	padding: 3px;
	border: 1px solid #999;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.nav-tabs,
.accordion-heading {
	border: 1px solid #999;
	padding: 4px 3px 0;
	margin-bottom: 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #ccc;
	background-image: -moz-linear-gradient(top, #eee, #999);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#999));
	background-image: -webkit-linear-gradient(top, #eee, #999);
	background-image: -o-linear-gradient(top, #eee, #999);
	background-image: linear-gradient(to bottom, #eee, #999);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ff999999', GradientType=0);
}

.nav-tabs>li>a {
	line-height: 10px;
	background-color: #eee;
	border: none;
	outline: 0;
}

.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus {
	border-style: solid;
	border-width: 1px 1px 0;
	border-color: #999 #999 transparent;
}

.nav-tabs>li>a:link,
.nav-tabs>li>a:active,
.nav-tabs>li>a:visited,
.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus {
	color: #555;
}

.nav-tabs>li:not(.active)>a:hover,
.nav-tabs>li:not(.active)>a:focus {
	padding: 7px 11px;
}

.nav-tabs>.active>a,
.nav-tabs>.active>a:hover,
.nav-tabs>.active>a:focus {
	border-style: solid;
	border-width: 1px 1px 0;
	border-color: #999 #999 transparent;
}

.nav-tabs-container .tab-content {
	padding: 20px;
}

.carousel-title {
	font-size: 22px;
	margin-bottom: 10px;
}

.carousel-title.not-first {
	margin-top: 30px;
}

.carousel-caption.relative {
	background: none;
	position: relative;
}

.carousel-caption.relative h4,
.carousel-caption.relative p {
	color: #333;
}

.carousel-indicators li.white {
	background-color: #999;
	background-color: rgba(70, 70, 70, .25);
}

.carousel-indicators .white.active {
	background-color: #444;
}

.carousel-indicators {
	bottom: 0;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
	margin: 0 auto;
}

.carousel.carousel-fade .item {
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	opacity: 0;
}

.carousel.carousel-fade .active.item {
	opacity: 1;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
	left: 0;
	z-index: 2;
	opacity: 0;
	filter: alpha(opacity=0);
}

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
	left: 0;
	z-index: 1;
}

.carousel.carousel-fade .carousel-control {
	z-index: 3;
}

.content {
	margin-bottom: 20px;
}

.checkoutcomment textarea {
	width: 90%;
	margin-bottom: 0;
}

p.rating label {
	padding-left: 0;
}

div.agbframe {
	background: #fff;
	border: 1px solid #666;
	height: 200px;
	overflow: auto;
	padding: 10px;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bottom-buffer {
	margin-bottom: 20px;
}

.well-small form,
.well-small ul {
	margin-bottom: 0;
}

.bottom-line {
	border-bottom: 1px solid #E5E5E5;
}

.productOldPrice {
	color: red;
}

.nav .dropdown-menu {
	margin: 0;
}

.row-fluid [class*="span"] {
	*min-height: 20px;
}

.row-fluid {
	padding-bottom: 6%;
}

footer .container {
	background: #333;
	padding: 3%;
}

section .container {
	padding: 0 0 60px;
}

footer .well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: transparent;
	border: 0 solid #e3e3e3;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

footer .well a {
	color: #eee;
}

footer .well {
	color: #eee;
}

.copyright {
	margin: 0 auto;
	text-align: center;
	color: #666;
	font-size: 11px;
	padding: 0;
	display: none;
}

.copyright a {
	text-decoration: none;
}

.home_text {
	overflow: hidden;
	padding-top: 30px;
}

.home_text a {
	text-decoration: underline;
}

span.cop_magenta {
	color: #B0347E;
}

span.cop_grey {
	color: #6D6D6D;
}

.parseTime {
	margin: 0 auto;
	text-align: center;
	color: #666;
	font-size: 11px;
	padding: 0 0 10px;
}

.lang img {
	max-width: 30px !important;
	height: auto;
}

.well-listing {
	clear: both;
}

.lang-index img {
	max-width: 30px !important;
	height: auto;
}

.tab_cats_links {
	display: inline-block;
	margin-right: 40px;
	border: 4px solid #ccc;
	padding: 20px;
	margin-bottom: 40px;
}

.active.tab_cats_links,
.tab_cats_links:hover {
	border: 4px solid #e67300;
}

.categorie_listing {
	padding: 0;
}

form#cart_quantity {
	position: relative;
}

.product_lising .row {
	margin: 0 !important;
}

.categorie_listing a.row.text-center {
	padding: 10px 0;
	margin: 10px !important;
	display: block;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	display: block;
	overflow: hidden;
	clear: both;
}

.categorie_listing a.row.text-center:hover {
	background: #eee;
}

.categorie_listing a.row.text-center h2 {
	margin-top: 10%;
}

.product_lising a.row.text-center {
	padding: 10px 0;
	margin: 10px !important;
	display: block;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	display: block;
	overflow: hidden;
	clear: both;
}

.product_lising a.row.text-center:hover {
	background: #eee;
}

.product_lising a.row.text-center h2 {
	margin-top: 10%;
}

.list-img img {
	max-width: 100px;
	height: auto;
}

.plist-img img {
	max-width: 260px;
	height: auto;
}

h2.header {
	font-weight: 700;
}

.categorie_listing a.row.text-center img {
	max-width: 60%;
	height: auto;
}

.single-parts {
	text-align: center;
	float: right;
}

.categorie_listing .row {
	margin: 0 !important;
}

.first_cat {
	margin: 30px 5px;
	-webkit-box-shadow: 0 0 10px 0 rgba(119, 119, 119, 1);
	-moz-box-shadow: 0 0 10px 0 rgba(119, 119, 119, 1);
	box-shadow: 0 0 10px 0 rgba(119, 119, 119, 1);
	background: rgba(247, 247, 247, 1);
	background: -moz-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 82%, rgba(247, 247, 247, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247, 247, 247, 1)), color-stop(19%, rgba(255, 255, 255, 1)), color-stop(82%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(247, 247, 247, 1)));
	background: -webkit-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 82%, rgba(247, 247, 247, 1) 100%);
	background: -o-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 82%, rgba(247, 247, 247, 1) 100%);
	background: -ms-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 82%, rgba(247, 247, 247, 1) 100%);
	background: linear-gradient(to bottom, rgba(247, 247, 247, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 82%, rgba(247, 247, 247, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f7f7f7', GradientType=0);
	overflow: hidden;
	clear: both;
	padding: 4% 0;
	overflow: hidden;
	display: block;
}

.first_cat.first {
	margin-top: 30px;
}

.first_cat .col-xs-12 img {
	max-width: 100%;
	height: auto;
}

.categorie_listing img,
.product_lising img,
.t_1 img,
.t_2 img {
	margin: 0 auto !important;
}

.t_1,
.t_2 {
	text-align: center;
	border-bottom: 1px solid #eee;
	margin-bottom: 3%;
	padding-bottom: 3%;
}

.t_1 img,
.t_2 img {
	max-height: 120px;
	width: auto;
}

span.p_name,
span.c_name {
	display: block;
	margin-top: 10px;
	font-weight: 700;
	height: 60px;
	overflow: hidden;
}

span.list_name {
	font-weight: 700;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.boxmargin_65_list {
	display: none !important;
}

img.p_img {
	height: 100px;
	width: auto;
}

.t_name {
	font-weight: 700;
	text-decoration: underline;
}

.boxmargin,
.else-boxmargin {
	min-height: 260px;
	padding-top: 20px;
	text-align: center;
	margin-top: -1px;
	border: 1px solid #eee;
}

div.tc_corner_left {
	position: absolute;
	left: 10px;
	bottom: 10px;
}

div.tc_corner_right {
	position: absolute;
	right: 10px;
	top: 10px;
}

th.tc_head_col {
	border: 1px solid grey !important;
	text-align: center;
	padding: 5px 0;
}

th.tc_top_row {
	border: 1px solid grey !important;
	background-color: #fff;
	text-align: center;
	padding: 5px 0;
}

tr.tc_head_row {
	color: #4d4d4d !important;
	background-color: #e6e6e6 !important;
}

tr.tc_head_row td:first-child {
	width: 100px;
	border-left: 1px solid grey;
}

tr.tc_head_row td {
	border-bottom: 1px solid grey;
	border-top: 1px solid grey;
	vertical-align: middle !important;
	text-align: center;
	padding: 5px 0;
}

tr.tc_body_row td:first-child {
	width: 100px;
}

tr.tc_body_row td {
	border: 1px solid grey;
	vertical-align: middle !important;
	text-align: center;
	padding: 5px 0;
}

th.typ_bg {
	width: 100px;
	background: #fff url(img/typ_bg.jpg) no-repeat;
	background-size: contain;
	position: relative !important;
	border: 1px solid grey !important;
}

.typ_inner {}

.tc_motedis_img {
	border: 1px solid #000;
	height: 75px;
}

div.tc_txt {
	margin-left: 10px;
	margin-right: 10px;
	float: left;
}

div.tc_tt_wrap {
	max-width: 610px;
	text-align: left;
	margin: 20px;
	font-size: 20px;
	color: #4d4d4d;
}

img.tt_img {
	height: auto;
	max-width: 240px;
	margin-right: 20px;
	float: left;
}

div.tt_name {
	font-size: 20px;
	margin-bottom: 25px;
	line-height: 28px;
	color: #4d4d4d;
	font-weight: bold;
}

div.tt_pInfo_wrap {
	display: table-cell;
	height: 240px;
	vertical-align: middle;
	clear: both;
}

div.tt_price {
	display: block;
	font-weight: 700;
	margin-bottom: 20px;
}

div.tt_desc {
	white-space: pre-line;
	font-size: 16px;
	color: #4d4d4d;
	line-height: 16px;
}

div.tt_desc br {
	padding: 0px;
	margin: 0px;
}

span.typ1 {
	position: absolute;
	left: 5px;
	bottom: 5px;
}

span.typ2 {
	position: absolute;
	right: 5px;
	top: 5px;
}

@media (min-width:1200px) {
	.fixed {
		top: 0;
		position: fixed;
		max-width: 1340px;
		display: none;
		border: none;
	}
}

@media (max-width:1199px) {
	.fixed {
		top: inherit;
		position: relative;
		display: none;
		border: none;
	}
}

.table>tbody>tr>td.pizu_option_name,
.table>tbody>tr>td.pizu_qty {
	font-weight: 700;
	text-align: right;
	padding-top: 16px !important;
}

.pizu_qty input {
	padding: 5px;
	text-align: center;
	margin-left: 5px;
}

.categorie_listing_dynamik_linear .boxmargin img {
	max-width: 120px !important;
}

.single-parts_categorie {
	text-align: center;
}

.boxmargin_65 img {
	max-width: 100px;
	height: auto;
}

.boxmargin_65 {
	height: 220px;
	padding-top: 20px;
	text-align: center;
	margin-top: -1px;
	border: 1px solid #eee;
}

.boxmargin:hover,
.boxmargin_65:hover {
	background: #f6f6f6;
}

.boxmargin img {
	max-width: 100%;
	height: auto;
}

#additional,
#additional_ls,
#comments {
	width: 100%;
}

.productinfowrap_img img {
	width: 300px !important;
	height: auto;
}

.payment_block .radio {
	padding: 20px;
	border-top: 1px solid #eee;
}

.payment_block .radio:hover,
.payment_block .radio.active {
	background: #dff0d8;
}

#productinfowrap .first {
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#productinfowrap {
	margin-bottom: 8%;
}

#productinfowrap h1 {

	margin-bottom: 2%;
	margin-top:0px;
}

.soldout,
.madein {
	position: absolute;
	right: 0;
	top: 0;
	max-width: 50%;
	height: auto;
}

.tooltipster-default {
	/*border-radius:5px;*/
	border: 1px solid #000;
	background: #fff;
	/*box-shadow:0 0 20px #000;*/
	color: #2c2c2c;
}

.tooltipster-default .tooltipster-content {
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
}

.tooltipster-icon {
	cursor: help;
	margin-left: 4px;
}

.tooltipster-base {
	padding: 0;
	font-size: 0;
	line-height: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999999;
	pointer-events: none;
	width: auto;
	overflow: visible;
}

.tooltipster-base .tooltipster-content {
	overflow: hidden;
}

.tooltipster-arrow {
	display: block;
	text-align: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.tooltipster-arrow span,
.tooltipster-arrow-border {
	display: block;
	width: 0;
	height: 0;
	position: absolute;
}

.tooltipster-arrow-top span,
.tooltipster-arrow-top-right span,
.tooltipster-arrow-top-left span {
	border-left: 8px solid transparent !important;
	border-right: 8px solid transparent !important;
	border-top: 8px solid;
	bottom: -7px;
}

.tooltipster-arrow-top .tooltipster-arrow-border,
.tooltipster-arrow-top-right .tooltipster-arrow-border,
.tooltipster-arrow-top-left .tooltipster-arrow-border {
	border-left: 9px solid transparent !important;
	border-right: 9px solid transparent !important;
	border-top: 9px solid;
	bottom: -7px;
}

.tooltipster-arrow-bottom span,
.tooltipster-arrow-bottom-right span,
.tooltipster-arrow-bottom-left span {
	border-left: 8px solid transparent !important;
	border-right: 8px solid transparent !important;
	border-bottom: 8px solid;
	top: -7px;
}

.tooltipster-arrow-bottom .tooltipster-arrow-border,
.tooltipster-arrow-bottom-right .tooltipster-arrow-border,
.tooltipster-arrow-bottom-left .tooltipster-arrow-border {
	border-left: 9px solid transparent !important;
	border-right: 9px solid transparent !important;
	border-bottom: 9px solid;
	top: -7px;
}

.tooltipster-arrow-top span,
.tooltipster-arrow-top .tooltipster-arrow-border,
.tooltipster-arrow-bottom span,
.tooltipster-arrow-bottom .tooltipster-arrow-border {
	left: 0;
	right: 0;
	margin: 0 auto;
}

.tooltipster-arrow-top-left span,
.tooltipster-arrow-bottom-left span {
	left: 6px;
}

.tooltipster-arrow-top-left .tooltipster-arrow-border,
.tooltipster-arrow-bottom-left .tooltipster-arrow-border {
	left: 5px;
}

.tooltipster-arrow-top-right span,
.tooltipster-arrow-bottom-right span {
	right: 6px;
}

.tooltipster-arrow-top-right .tooltipster-arrow-border,
.tooltipster-arrow-bottom-right .tooltipster-arrow-border {
	right: 5px;
}

.tooltipster-arrow-left span,
.tooltipster-arrow-left .tooltipster-arrow-border {
	border-top: 8px solid transparent !important;
	border-bottom: 8px solid transparent !important;
	border-left: 8px solid;
	top: 50%;
	margin-top: -7px;
	right: -7px;
}

.tooltipster-arrow-left .tooltipster-arrow-border {
	border-top: 9px solid transparent !important;
	border-bottom: 9px solid transparent !important;
	border-left: 9px solid;
	margin-top: -8px;
}

.tooltipster-arrow-right span,
.tooltipster-arrow-right .tooltipster-arrow-border {
	border-top: 8px solid transparent !important;
	border-bottom: 8px solid transparent !important;
	border-right: 8px solid;
	top: 50%;
	margin-top: -7px;
	left: -7px;
}

.tooltipster-arrow-right .tooltipster-arrow-border {
	border-top: 9px solid transparent !important;
	border-bottom: 9px solid transparent !important;
	border-right: 9px solid;
	margin-top: -8px;
}

.tooltipster-fade {
	opacity: 0;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	-ms-transition-property: opacity;
	transition-property: opacity;
}

.tooltipster-fade-show {
	opacity: 1;
}

.tooltipster-grow {
	-webkit-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	transform: scale(0, 0);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
	-webkit-backface-visibility: hidden;
}

.tooltipster-grow-show {
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}

.tooltipster-swing {
	opacity: 0;
	-webkit-transform: rotateZ(4deg);
	-moz-transform: rotateZ(4deg);
	-o-transform: rotateZ(4deg);
	-ms-transform: rotateZ(4deg);
	transform: rotateZ(4deg);
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
}

.tooltipster-swing-show {
	opacity: 1;
	-webkit-transform: rotateZ(0deg);
	-moz-transform: rotateZ(0deg);
	-o-transform: rotateZ(0deg);
	-ms-transform: rotateZ(0deg);
	transform: rotateZ(0deg);
	-webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 1);
	-webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
	-moz-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
	-ms-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
	-o-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
	transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
}

.tooltipster-fall {
	top: 0;
	-webkit-transition-property: top;
	-moz-transition-property: top;
	-o-transition-property: top;
	-ms-transition-property: top;
	transition-property: top;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}

.tooltipster-fall-show {}

.tooltipster-fall.tooltipster-dying {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
	top: 0 !important;
	opacity: 0;
}

.tooltipster-slide {
	left: -40px;
	-webkit-transition-property: left;
	-moz-transition-property: left;
	-o-transition-property: left;
	-ms-transition-property: left;
	transition-property: left;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}

.tooltipster-slide.tooltipster-slide-show {}

.tooltipster-slide.tooltipster-dying {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
	left: 0 !important;
	opacity: 0;
}

.tooltipster-content-changing {
	opacity: .5;
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

/*

.features-table
{
  border-collapse: separate;
  border-spacing: 0;
  text-shadow: 0 1px 0 #fff;
  color: #2a2a2a;
  background: #fafafa;
  float:left;
  background-image: -moz-linear-gradient(top, #fff, #eaeaea, #fff);
  background-image: -webkit-gradient(linear,center bottom,center top,from(#fff),color-stop(0.5, #eaeaea),to(#fff));
}



.features-table td
{
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  border-bottom: 1px solid #cdcdcd;
  box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  -webkit-box-shadow: 0 1px 0 white;
  white-space: nowrap;
  text-align: center;
}



.features-table  th, td {
  font: bold 1.3em 'trebuchet MS', 'Lucida Sans', Arial;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: 1px solid #eaeaea;
}

.features-table tbody td:first-child
{
  width: auto;
  text-align: left;
}

.features-table td:nth-child(2n),
{
  background: #efefef;
  background: rgba(144,144,144,0.15);
  border-right: 1px solid white;
}

.features-table td:nth-child(2n+1)
{
  background: #a1a1a1;
  background: rgba(144,144,144,0.15);
}


.features-table thead th,td
{
  font: bold 1.3em 'trebuchet MS', 'Lucida Sans', Arial;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: 1px solid #eaeaea;
}

.features-table thead td:first-child
{
  border-top: none;
}


.features-table tfoot td
{
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom: 1px solid #dadada;
}

.features-table tfoot td:first-child
{
  border-bottom: none;
}

*/
